<div class="text-end m-3">
    <button class="btn btn-danger" (click)="logOut()">Logout</button>
</div>
<div class="success-centent d-flex justify-content-center align-items-center mt-5   ">

    <div class="text-center ">
        <div class="success-animation">
            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
        </div>
        <h2 class="success-header mb-4">
            Successfully
        </h2>
        <p>
            Your account successfully created <br>
            Just few steps more to setup your business account
        </p>
    </div>
</div>